body {
    background-image: url('../img/fondo.jpg!d');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    padding: 20px 20px;
    position: relative;
    z-index: 99;
    opacity: .65;
    width: 90%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.navbar ul li a {
    color: #ffffff;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.container .titulo {
    padding: 10px 10px;
    margin-top: 5%;
    text-align: center;
    font-size: 260%;
    color: #ffffff;
    font-family: arial ;
}

.container .subtitulo {
    text-align: center;
    font-size: 140%;
    color: #ffffff;
    width:600px;
    margin:auto;
    padding: 10px 10px;
    font-family: arial;
}

.container .parrafo {
    text-align: center;
    font-size: 160%;
    color: #ffffff;
    width:600px;
    padding: 70px 0;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 25%;
    margin-left: 38%;
    margin-right: 50%;
    margin-top: 5%;
}

.iconos {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    gap: 30px;
}

.instagram {
    color: rgb(199, 30, 0);
}

.linkedin {
    color: rgb(83, 112, 243);
}

.github {
    color: rgb(255, 255, 255);
}

.html {
    color: red;
    font-size: 40px;
}

.javas {
    color: yellow;
    font-size: 40px;
}

.css {
    color: rgb(67, 187, 228);
    font-size: 40px;
}

.python {
    font-size: 40px;
}

.tecnologias {
    display: flex;
    justify-content: center;
    font-size: 40px;
    gap: 30px;
}

.utn {
    margin-top: -2%;
    margin-left: 45%;
    margin-right: 50%;
    width: 10%;
}

/*.box {
    width: 250px;
    height: 250px;
    background-image: url(../img/Perfil.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 50 auto;
    margin-left: 40%;
}*/