{% extends 'layouts/base.html' %}

{% block content %}

<div class="container">
    <h4 class="parrafo">
        Mi app esta diseñada usando las librerias de Django, Boostrap y contando con tecnologias como Python, Html, Css y Js. 
    </h4>      
</div>

<div class="tecnologias">
    <a href="" class="python"><i class="fa-brands fa-python"></i></a>
    <a href="" class="html"><i class="fa-brands fa-html5"></i></a>
    <a href="" class="css"><i class="fa-brands fa-css3"></i></a>
    <a href="" class="javas"><i class="fa-brands fa-square-js"></i></a>
</div>  

<div class="container">
    <h4 class="parrafo">
        Me encuentro terminando la Tecnicatura Superior en Programacion Orientada a Objetos en la UTN, con el fin de seguir estudiando para la licenciatura. 
    </h4>          
    <img src="../static/img/utn.jpg" class="utn">
</div>


<div class="iconos">
    <a href="https://www.instagram.com/emma18_ok/" class="instagram"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/emmanuel-tavolaro" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/eTavo" class="github"><i class="fa-brands fa-github"></i></a>
</div>

{% endblock %}

