{% extends 'layouts/base.html' %}


{% block content %}

<div class="container">

    <h1 class="titulo">Hola!</h1>
    <h2 class="subtitulo">Me llamo Emmanuel Tavolaro, soy Developer Full Stack orientado a Python</h2>
    <img src="../static/img/Captura desde 2023-05-19 19-53-19.png">
</div>
<div class="iconos">
    <a href="https://www.instagram.com/emma18_ok/" class="instagram"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/emmanuel-tavolaro-587871b9/" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/eTavo" class="github"><i class="fa-brands fa-github"></i></a>
</div>
{% endblock %}