{% extends 'layouts/base.html' %}


{% block content %}

<div class="container">
    <img src="../static/img/FotoApp.png" style="border-radius: 50%; width: 250px; height: 250px; margin-left: 40%; background-size: cover; ">
    <h1 class="titulo">Hola! Me llamo Emmanuel Tavolaro</h1><br>
    <h2 class="subtitulo">Soy desarrollador en Python, centrado en el area de la Ciencia de Datos, en la Extraccion Transformacion y carga de Datos.</h2>
    <hr style="color: #40d1d1;"><h4 class="subtitulo">{{ user.username | upper}}, bienvenido</h4>
    
</div>
<div class="iconos">
    <a href="https://www.instagram.com/emma18_ok/" class="instagram"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/emmanuel-tavolaro" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/eTavo" class="github"><i class="fa-brands fa-github"></i></a>
</div>
{% endblock %}