{% extends 'layouts/base.html' %}

{% block content %}

<div class="container">
    <h1 class="titulo">Projects</h1>
    <p class="parrafo">
        En mi cuenta de Github se encuentran publicados algunos proyectos que he realizado, en el cual podemos encontrar una web dinamica hecha con Js, Nodejs, Express, MongoDB, tambien se encuentra la misma pagina realizada en Python con Flask. <br><br><br>
        Estoy realizando una web con googlesite para un club y me encuentro trabajando en un proyecto personal en una aplicacion web para ayudar a la administracion y facturacion de comercios.
    </p>
</div>

{% endblock %}


