{% extends 'layouts/base.html' %}

{% block content %}

<div class="container">
    <p class="parrafo">
        Estuve a cargo de proyectos ETL de clientes de Vtex, Finnegans, Jira, Lince, SQL Server, Sigma, entre otras Api Rest y base de datos dentro de la 
        empresa de Business Intelligence Visionaris SRL para realizar la integracion de dichos datos. <br><br>
        Estoy colaborando con el Club A. Argentino de Chivilcoy en una web con googlesite y me encuentro trabajando en un proyecto personal en una aplicacion web para ayudar a la administracion y facturacion de comercios.<br><br>
        En mi cuenta de Github se encuentran publicados algunos proyectos que he realizado, en el cual podemos encontrar una web dinamica hecha con Js, Nodejs, Express, MongoDB.
    </p>
</div>
<div class="iconos">
    <a href="https://www.instagram.com/emma18_ok/" class="instagram"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/emmanuel-tavolaro" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://github.com/eTavo" class="github"><i class="fa-brands fa-github"></i></a>
</div>

{% endblock %}


